<!DOCTYPE html>
<html>
<head>
</head>
    <body>
      <p>Welcome to My website. Asaalaamualeykum</p>
      <p><%= JSON.stringify(data,undefined,2) %> </p>
      <p><%= JSON.stringify(wdata,undefined,2) %> </p>
    </body>

</html>
